@import "https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css";

body {
  font-family: sans-serif;
}

main {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
}

article {
  flex: 1 1 0;
  overflow:auto;
  padding:1em 2em;
}

nav {
  width:300px;
  border-right:solid 1px silver;
  background:#f8f8f8;
  cursor:default;
  user-select:none;
}

nav > .item {
  display:block;
  color:#222;
}

nav > .item[data-toc-depth="0"] {
  font-size:24px;
  font-weight:bold;
  padding:20px 16px;
}

nav > .item[data-toc-depth="1"] {
  font-weight:bold;
  font-size:16px;
  padding:8px 0 8px 20px;
}

nav > .item[data-toc-depth="2"] {
 font-size:14px;
 padding-left:2em;
 padding-top:0.25em;
 padding:4px 0 4px 30px;
}

nav > .item[data-toc-depth="3"] {
  padding-left:3em;
  padding-top:0.1em;
  padding-bottom:0.1em;
  padding:1px 0 1px 45px;
  font-size:14px;
  color:#666;
}
 
nav > .item[data-toc-active="true"] {
  background:#ddd;
}

nav >a.item:hover {
  text-decoration:underline;
}
